<div id="about"></div>
<h1>About</h1>
<h2>Welcome to my new pages using the tools Ruby and Ruby on rails or simply Rails</h2>
<h3>Just getting familiar with these tools</h3>
<h3>Don't worry, there no stylng yet but it is coming soon I'm sure</h3>
<br>
<p>This app is no longer a simple static page that's being worked on the client side</p>
<p>It is developped using tools like GIT which allows for version control of the code</p>
<p>It allows to create development branches of the applications and also you can fix bugs and problems in the production aplication.</p>
<p>Also using GitHub which is used for hosting the GIT repositories.</p>
<p>It also provides the ability to track bugs and changes</p>

<p>Ruby is a programming language that is really powerful and simple to use(yet!!)</p>
<p>Rails provides a framework for ......
<p>Keep watching as this application will progress a lot in the coming weeks</p>

<p>Yves Loiseau</p>
<p>P.S. you can find more about me by visiting this website:</p>
<p>http://freight-forwarder-surprises-42305.bitballoon.com/</p>
