<div id="contactus"></div>

<h1>Contact Page</h1>
<h2>My name is : Yves Loiseau</h2>
<h4>You can reach me at this email address: loiseau.y@gmail.com</h4>
<h3>Or by phone at: +1(514)-232-6356</h4>

<h3>My background</h3>

<p>I'm an IT professional working in the Information Technology domain for over 35 years.</p>
<p>Worked my way up in the IT world, started as a programmer and now acting as Project Manager for more than 10 years.</p>
<p>I'm now coming back to my roots and re-exploring the more creative aspect of the IT business and Web design and development is the perfect match for me.</p>

<h3><strong>Now serving all of your web development needs</strong></h3>

<h3>More about me:</h3>
<p>You can find more about me visiting thise website:</p>
<p>This is a work in progress wevsite that I'm building through this course</p>
<p><strong>http://freight-forwarder-surprises-42305.bitballoon.com/</strong></p>
<p>Thanks you and have a nice day</p>