<div class="container-fluid anchor-index" id="index">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p id="notice"><%= notice %></p>
			<h1 class="center">Welcome to my Home page</h1>
			<h3 class="center">To find more details about me, visit the
      About and Contact pages
      </h3>
		</div>
	</div>
<!-- Lesson 5.2 work -->
<% params[:example_key].to_i * 10 %>

  <div class="row">
    <div class="col-md-12 col-xs-12">
			<div class="golf-store-header">
				<h2>Birdy Golf Store</h2>
				</div>
	     <div class="image-two">
	        <%= image_tag("Birdy_Golf_Store_TJ.jpg", size: "600x350",
          alt: "Edit Entry", class: "img-two img-responsive")%>
		   </div>
			<div class="golf-store-footer">
				<h3>Everything for your golf game at the best price and
        with the best service
        </h3>
				<h3 class="golf-store-text">     More details coming soon     </h3>
			</div>
    </div>
  </div>
    <% @last_product_displayed = 5 %>
</div>
