<div class="container-fluid anchor_index" id="index">
  <div class="row">
    <div class="col-md-12 col-xs-12"> <!-- col-md-4 col-xs-8 -->
			<h1 class="center">Welcome to my Home page</h1>
			<h3 class="center">To find more details about me, visit the About and Contact pages</h3>
		</div>
	</div>

  <div class="row">
    <div class="col-md-12 col-xs-12"> <!-- col-md-4 col-xs-8 -->
			<div class="chair_header">
				<h2>Birdy Golf Store</h2>
				</div>
	     <div class="imageTwo">
	        <%= image_tag("Birdy_Golf_Store.jpg", size: "600x350", alt: "Edit Entry", class: "imgTwo img-responsive")%> 
		   </div>        
			<div class="chair_footer">
				<h3>Everything for your golf game at the best price and with the best service</h3>
				<h3 class="chair_text">     More details coming soon     </h3>
			</div>
    </div>
  </div>
</div><!-- /container -->
