<div class="panel panel-default thankYouPopup">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
  	<div class="thankyouButton">
		<!-- Buttons to create a new product -->
		<!-- Back to Product list -->
		<%= button_to "Back", static_pages_contact_path, class: 'btn btn-primary btn-sm inline', :method => :get %>

		<!-- Go back HOME-->
		<%= button_to "Home", root_path, class: 'btn btn-primary btn-sm inline', :method => :get %>
	</div>

</div><!-- / panel -->