<div class="panel panel-default thankYouPopup">
  <div class="panel-body">
    <p>Thank you for writing to us! </p>
    <br>
    <p>We have received your message and will respond to you very soon.</p>
    <br>
    <p>Have a great day!</p>
  </div>

  <div class="thankyouButton">
		<!-- Back to Product list -->
		<%= button_to "Back", static_pages_contact_path,
      class: 'btn btn-primary btn-sm inline', :method => :get %>

		<!-- Go back HOME-->
		<%= button_to "Home", root_path,
      class: 'btn btn-primary btn-sm inline', :method => :get %>
	</div>

</div>
