<div id="product-review" class="product-reviews">
  <% if @product.highest_rating_comment != nil %>
    <h3 class="review-headers">Reviews:</h3>
  <% else %>
    <h3 class="review-headers no-reviews">&larr;
      Be the first to review this product
    </h3>
  <% end %>

  <% @comments.each do |comment| %>
      <!-- Comments partial to display each comment  -->
      <%= render partial: "comments/comment", locals: { comment: comment }%>

  <% end %>
</div>
