// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//  Order rules saved

.anchor-order {
  padding-top: 80px;
}

div#order.container-fluid.anchor-order {
  height: 670px;
  //height: auto;
  max-width: 100%;
  max-height: 100%;
}

.orders-form-fields {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.orders-form-headers {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.small-bag-image {
  width: 25%; // 450px;
  height: 10em;
  height: auto;
  //margin-left: auto;
  //margin-right: auto;
}

.order-product-name {
  margin-left: auto;
  margin-right: auto;
}

.order-features {
  padding-left: 10px;
}

.order-show-btn {
  margin-top: 10px;
  padding-left: 15px;

}

.orders-table {
  overflow-x:auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
//    border: 1px solid #ddd;
}


tr:nth-child(even){background-color: #f2f2f2}

td.no-borders {
  border: none;
}
/****************************************************************************************************/
/* Breakpoints                                                                                      */
/****************************************************************************************************/

/*****************************************************/
/*  Max-width = 1050px  up to 1400    (.83 factor)   */
/*****************************************************/
@media (max-width: 1400px) {

.anchor-order {
  }

  div#order.container-fluid.anchor-order {
    height: auto;
  }
}