// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userNavLinks {
  font-size: 8px;
  color: #3366CC; //blue;
}

.userFirstName {
  padding-top: 30px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 900;
}

.deviseLinks {
  display: inline;
  margin-bottom: 5px;
}

.authenticat_new,
 .password_new,
 .authenticat_edit {
  margin-top: 90px;
  }

.anchor_userProfile {
  padding-top: 90px;
  }

div#edit.container-fluid.anchor_userProfile {
  height: 675px;
//  height: auto;
  max-width: 100%;
  max-height: 100%;
  }

div#new.container-fluid.authenticat_new,
div#edit.container-fluid.authenticat_edit,
div#new.container-fluid.password_new
 {
  //height: 500px;
  height: auto;
  margin-left: 27.77777778%; // 400px;
  width: 350px;
  max-height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #3399FF;
  background-color: #EEEEEE;
  }

div#new.container-fluid.password_new {
  width: 375px;
}

.editAuthenticat {
  width: 300px;
  //width: auto;
  height: auto;
  margin-left: 27.77777778%; // 400px;
  //margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  }

.backRight {
  float: right;
}

.inline  {
  display: inline;
}

.editUserProfile {
  width: 300px;
  margin-left: 27.77777778%; // 400px;
}

.userProfileForm {
  height: auto;
  margin-left: 27.77777778%; // 400px;
  width: 350px;
  max-height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #3399FF;
  background-color: #EEEEEE;
}

.userLinkButtons {
  margin-left: 27.77777778%; // 400px;
  margin-top: 25px;
  height:auto;
  padding-left: 10px;
  color: white;
}
