<!DOCTYPE html>
<html>
  <head>
    <title>MyCFproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
  <ul>
    <li><a href="http://localhost:3000">Home</a></li>
    <li><a href="http://localhost:3000/static_pages/about">About</a></li>
    <li><a href="http://localhost:3000/static_pages/contact">Contact</a></li>
  </ul>
	</nav>

<%= yield %>

<footer>
  &copy; 2015 Bike Berlin
</footer>

  </body>
</html>
